.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
}

.pagina {
	border:solid 1px #DFDFDF;
	padding:25px !important;
}

li.list-group-item.active {
	background-color: #fff;
	border-color: #003699;
    border-left:solid 10px #003699;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}

h4 {
	color: #003699 !important;
}

h3 {
	color: #212529 !important;
}


